.checkbox{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #B8B8B8;
    border-radius: 2px;
}

.checkbox:hover{
    background-image: url(../../../assets/svg/check.svg);
    background-size: cover;
}
